<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work.out</title>
</head>
<body>
    <h1> Work-out web application </h1>
    <form action="/addExercise" method="POST">
        <input type='text' placeholder="Exercise name" name="exercise">
        <input type='text' placeholder="Weight in lbs." name="weight">
        <input type='text' placeholder="Number of sets" name="sets">
        <input type='text' placeholder="Number of reps" name="reps">
        <input type='date' placeholder="Date" name="date">
        <button type="submit">Submit</button>
    </form>

</body>
</html>